
.smallCard {
    background-color: #CABD9A;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    min-height: 150px;
    max-width: 31.6%;
    border-radius: 10px;
    box-sizing: border-box;
}

.smallCard:hover{
    background-color: #beb08a;
    transition: background-color 0.6s;
}

.smallCard .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.smallCard img {
    width: 97%;
    height: auto;
    border-radius: 5px ;
}
.articleHeader {
    margin: 5px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text {
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #F6F1F1;
    color: #000;
    border-radius: 4px;
    border: none
}

button:active {
    background-color: wheat;
}
button:hover {
    cursor: pointer;
}

.databutton {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

.container {
    min-height: 100vh;
    margin: 0;
    width: 725px;
    background-color: #F6F1F1;
    padding: 20px;
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;

  }
  
  .topic {
    text-align: center;
  }
  
  .todays {
    margin-bottom: 20px;
  }
  
  .todays h2 {
    font-weight: 700;
  }
  
  p {
    font-size: 20px;
    white-space: pre-line;
  }

  .loadingmode {
    justify-content: center;
  }
  .loadingmode .loading {
      right: 140px;
  }
.loadingmode #loading-text{
    right: 140px;
}

  .return_btn {
    height: 40px;
    width: 60px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }

  .return_btn:hover {
      background-color: #ece7e7;
      cursor: pointer;
      transition: background-color 0.6s;
  }
  .return_btn:active {
      background-color: #d7d3d3;
  }

  .return_button {
      text-decoration: none;
      color: #A5956D;
  }

  .fa-arrow-left{

  }
